# see https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @element-logic/logistics-components-team @element-logic/common-platform-team
